     .container {
         width: 1000px;
         margin: 0 auto;
     }

     /* Normalización básica */
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     }

     /* Estilos según especificaciones */
     header {
         background-color: #ff0000;
         color: white;
         padding: 60px;
         border-radius: 5px;
     }

     nav {
         background-color: #807fff;
         padding: 20px;
         border-radius: 5px;
     }

     section {
         background-color: #fcc6c5;
         width: 70%;
         float: left;
         padding: 40px;
         border-radius: 5px;
         min-height: 600px;
     }

     aside {
         background-color: #fd0ffc;
         width: 27%;
         float: right;
         padding: 14px;
         border-radius: 5px;
         min-height: 600px;
     }

     /* Clear para el footer */
     footer {
         background-color: #88ff00;
         clear: both;
         padding: 40px;
         border-radius: 5px;
     }
