     .container {
         width: 800px;
         margin: 0 auto;
         overflow: hidden;
     }

     .container img {
         float: right;
         width: 500px;
         margin: 0 0 10px 15px;
     }

     .container p {
         text-align: justify;
     }